<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pioneer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="body">
    <div class="container">
        <div class="row">
            <div class="col center s12 m12 l6 offset-l3">
                <h3 class="white z-depth-1" style="padding:0.4em">{{ .Motd }}</h3>
                
                {{ range $i, $cmd := .Commands }}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ $cmd.Name }}</span>
                        <p>{{ $cmd.Description }}</p>
                    </div>
                    <div class="card-action">
                        
                        {{ if $cmd.IsBasic }}
                        <button class="btn waves-effect waves-light teal" onclick="cmd({{ $cmd.ID }})">Trigger</button>
                        {{ end }}
                        
                        {{ if $cmd.IsToggle }}
                        <button class="btn waves-effect waves-light green" onclick="cmd({{ $cmd.ID }}, 'on')">On</button>
                        <button class="btn waves-effect waves-light red" onclick="cmd({{ $cmd.ID }}, 'off')">Off</button>
                        {{ end }}
                    
                    </div>
                </div>
                {{ end }}
                
                {{ if .SchedulerEnabled }}
                <a class="btn-large waves-effect waves-light teal"href="/time">Go to Scheduler</a>
                {{ end }}
                <button class="btn-large waves-effect waves-light red" onclick="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="modal" id="popup">
        <div class="modal-content">
            <h4>Response</h4>
            <p id="popup-content"></p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-teal btn" onclick="closepopup()">Close</a>
        </div>
    </div>
    <div class="loader"></div>
    <script src="js/main.js"></script>
    {{ if .LiveBackground }}
    <script>livebckinterval = {{ .LiveBackgroundInterval }} * 1000</script>
    <script src="js/livebck.js"></script>
    {{ end }}
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>