<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pioneer</title>
    <link rel="stylesheet" href="css/stupid.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body id="body">
    <div class="container max900 center" style="max-width:600px">
        <h2 class="glass lifted padded fill">{{ .Motd }}</h2>
        {{ range $i, $cmd := .Commands }}
            <div class="glass lifted padded fill">
                <h4>{{ $cmd.Name }}</h4>
                <p>{{ $cmd.Description }}</p>
                
                {{ if $cmd.IsBasic }}
                <button class="btn rounded center" onclick="cmd({{ $cmd.ID }})" style="margin-top: 1em">Trigger</button>
                {{ end }}
                
                {{ if $cmd.IsToggle }}
                <button class="btn rounded center green" onclick="cmd({{ $cmd.ID }}, 'on')" style="margin-top: 1em">On</button>
                <button class="btn rounded center red" onclick="cmd({{ $cmd.ID }}, 'off')" style="margin-top: 1em">Off</button>
                {{ end }}
                
            </div>
        {{ end }}
        <button class="btn rounded center red" onclick="logout()" style="margin-top: 4em">Logout</button>
    </div>
    <div class="modal" id="popup">
      <div class="twothirds rounded white padded relative">
        <a class="close" onclick="closepopup()">×</a>
        <h4>Response</h4>
        <p style="font-size: 1.5em; margin-top: 1em;" id="popup-content"></p>
        <div class="right">
          <a class="close btn" onclick="closepopup()">Close</a>
        </div>
      </div>
    </div>
    <div class="loader"></div>
    <script src="js/main.js"></script>
    {{ if .LiveBackground }}
    <script>livebckinterval = {{ .LiveBackgroundInterval }} * 1000</script>
    <script src="js/livebck.js"></script>
    {{ end }}
</body>
</html>