.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(200, 200, 200, .6) url('/img/ajax-loader.gif') 50% 50% no-repeat;
}

body {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

body.loading {
    overflow: hidden;   
}

body.loading .loader {
    display: block;
}